body{
    background-color: rgb(14, 13, 13);
}
.main{
    background-color:rgb(72, 68, 68) ;
    width: 300px;
    height: 420px;
    border-radius: 15px;
    position: relative;
    left: 580px;
    top: 100px;
    
}
.input{
    background-color: darkgray;
    height: 50px;
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 8px;
}
.contents{
    margin-top: 30px;
    
}

.row{
    margin-left: 25px;
    margin-top: 10px;
    
    
}
#clear{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color: chocolate;

}
#remove{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color: chocolate;

}
#module{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color: chocolate;

}
#divide{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color: chocolate;
    
}
#seven{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;

}
#eight{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}
#nine{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}
#multiply{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color: chocolate;

}
#six{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}
#five{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}
#four{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}
#minus{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color: chocolate;

    
}
#one{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}
#two{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}
#three{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}
#add{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color: chocolate;

    
}
#zero{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}
#dot{
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}
#equal{
    height: 50px;
    width: 125px;
    background-color: rgb(215, 137, 34);
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}
